<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="coreRestApp">
<head>
<title>EMC Core REST Services</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/customsheet.css"/>
<link rel="stylesheet" href="css/fileuploadstyles.css" />
<link rel="stylesheet" href="css/font-awesome.css" />
<link rel="stylesheet" href="css/jquery.fileupload.css" />
    
<script type="text/javascript" src="scripts/jquery-1.9.0.js"></script>
<script type="text/javascript" src="scripts/bootstrap.js"></script>
<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/controller.js"></script>
<script type="text/javascript" src="scripts/navigation.js"></script>
<script type="text/javascript" src="scripts/response-processor.js"></script>
<script type="text/javascript" src="scripts/popup-dialogs.js"></script>
<script type="text/javascript" src="scripts/view-persistence.js"></script>
<script type="text/javascript" src="scripts/constants.js"></script>
<script type="text/javascript" src="scripts/jquery.filedropx1.js"></script>	
<script type="text/javascript" src="scripts/script.js"></script>
<script type="text/javascript" src="scripts/bootbox.js"></script>
<script type="text/javascript" src="scripts/fileupload.js"></script>

<style>
code {
  color: #1477CE;
}
</style>

</head>
<body ng-controller="mainViewController">
<nav class="navbar navbar-default" role="navigation">
    <a class="pull-left" href="#">
      <img class="media-object" src="img/emclogo.jpg" alt="" width="100">
    </a>        
  <!-- Topmost header containing logo, search and profile elements -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter" ng-model="filter">
      </div>
      <i class="fa fa-filter" style="font-size: 1.4em;"></i>
      <select ng-model="orderList">
        <option value="title">Alphabetical</option>
        <option value="updatedShadowCopy">By Date</option>
        <option value="index">Original</option>
      </select>
      <i class="fa fa-sort-alpha-asc" style="font-size: 1.4em;"></i>
      <div class="btn-group" id="viewselector">
        <button ng-click="redrawView('smallIcons')" type="button" class="btn btn-default" id="small" title="Thumbnail View"><i class="glyphicon glyphicon-th"></i></button>
        <button ng-click="redrawView('largeIcons')" type="button" class="btn btn-default" id="large" title="Large Thumbnail View"><i class="glyphicon glyphicon-th-large"></i></button>
        <button ng-click="redrawView('listView')" type="button" class="btn btn-default" id="list" title="List View"><i class="glyphicon glyphicon-th-list"></i></button>
      </div>
      <button type="button" id="resetButton" class="btn btn-default" title="Restart Navigation At The Repositories Level">
         <i class="glyphicon glyphicon-refresh"></i>
         <span>Reset</span>
      </button>
      <button type="button" id="clearButton" class="btn btn-default" title="Erase all locally stored information, including user/server configuration">
         <i class="glyphicon glyphicon-remove"></i>
         <span>Clear</span>
      </button>
      <button type="button" id="versionButton" class="btn btn-default" title="Server Version Information">
         <i class="glyphicon glyphicon-info-sign"></i>
         <span>About</span>
      </button>
    </form>  
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" title="Profile Configuration">
            <i class="glyphicon glyphicon-user"></i> User Profile<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li id='logincontrol'><a href=""><i class="glyphicon glyphicon-log-in"></i> Log-in</a></li>
          <li id='logoutcontrol'><a href=""><i class="glyphicon glyphicon-log-out"></i> Log-out</a></li>
          <li id='editcontrol'><a href=""><i class="glyphicon glyphicon-edit"></i> Edit Profile</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- ends div navbar -->
</nav>
<!-- Main container from here -->
<div class="container">
    <!-- Breadcrumbs -->
    <div class="row">
        <ol class="breadcrumb">  
            <li ng-repeat="entry in breadcrumbsData"><a href="#" id='breadcrumbnode' ng-click="followBreadCrumb(entry)"><i>{{entry.crumb}}</i></a></li>
        </ol>
    </div>
    <!-- Header with tabs: Home and Upload -->
    <div class="row">
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#homeTab" title="Repository Browse Tab" onclick="switchToHomeTab()"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a data-toggle="tab" href="#searchTab" title="Search Tab" onclick="switchToSearchTab()"><i class="glyphicon glyphicon-search"></i> Search</a></li>
            <li><a data-toggle="tab" href="#checkedOutTab" ng-click="getCheckedOutObjects()" title="CheckedOut Tab"><i class="glyphicon glyphicon-lock"></i> Checked Out</a></li>
            <li><a href="#checkInTab" title="CheckIn Tab" style="cursor:not-allowed;visibility:hidden;"><i class="glyphicon glyphicon-cloud-upload" style="cursor:not-allowed;"></i> Check In</a></li>
        </ul>
    </div>
    <!-- Row for tabs -->
    <div class="row">
        <!-- Tabs -->
        <div class="tab-content" id="featuretabs">
            <!-- Home Tab -->
            <div id="homeTab" class="tab-pane fade in active">
                <!-- Home navigation buttons row -->
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-7 col-lg-7" id="navigation">
                        <button type="button" id="backButton" class="btn btn-primary" title="Go Back" ng-click="goBack(entry)">
                            <i class="glyphicon glyphicon-backward"></i>
                            <span></span>
                        </button>
                        <a download="{{assetname}}" href="{{downloaduri}}">
                        <button type="button" id="downloadButton" class="btn btn-success disabled" title="Download This Asset" href="img/nopreview.jpg" download="myasset.jpg">
                            <i class="glyphicon glyphicon-cloud-download"></i>
                            <span></span>
                        </button>
                        </a>
                        <button type="button" id="lockButton" class="btn btn-success disabled" title="Lock This Asset" ng-click="lockAsset()">
                            <i class="fa fa-lock"></i>
                        </button>
                        <button type="button" id="checkinButton" class="btn btn-success disabled" title="Check In This Asset" onclick="switchToCheckinTab()">
                            <i class="fa fa-upload"></i>
                        </button>
                        <button type="button" id="cancelLockButton" class="btn btn-warning disabled" title="Unlock This Asset" ng-click="cancelLock()">
                            <i class="fa fa-unlock"></i>
                        </button>
                        <button type="button" id="deleteButton" class="btn btn-danger disabled" title="Delete This Asset" ng-click="deleteAsset()">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span></span>
                        </button>
                    </div>
                </div>
                <!-- Progress indicator -->
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
                        <div class="progress progress-striped active" id="progressFeedback">
                            <div class="progress-bar" id="hidden" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
                <!-- Main list view displaying browsing details -->
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="list-group">
                            <a ng-repeat="entry in folders | filter:filter | orderBy:orderList" ng-click="followOnClick(entry)" href="#" class="list-group-item">
                              <i class="fa fa-folder-open-o "></i> {{entry.title}}</a>
                        </div><!-- ends repeating entry for list view -->
                        <div id="propertiesView"> 
                            <div class="clearfix">
                                <div class="containerProperties">
                                    <h6>Asset Properties</h6>
                                    <div class="subContainerProperties propList">
                                        <div class="propertiesFormatted">
                                            <ul>
                                                <li ng-repeat="entry in updatableProperties | filter:filter">
                                                    <span class="assetProperty">{{entry.propertyKey}}</span>
                                                    :
                                                    <span class="assetPropertyValue">{{entry.propertyValue}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="containerProperties" style="background: rgb(148,219,255);">
                                    <h6>Application Properties</h6>
                                    <div class="subContainerProperties propList">
                                        <div class="propertiesFormatted">
                                            <ul>
                                                <li ng-repeat="entry in applicationProperties | filter:filter">
                                                    <span class="assetProperty">{{entry.propertyKey}}</span>
                                                    :
                                                    <span class="assetPropertyValue">{{entry.propertyValue}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="containerProperties" style="background: rgb(255,255,148);">
                                    <h6>Internal Properties</h6>
                                    <div class="subContainerProperties propList">
                                        <div class="propertiesFormatted">
                                            <ul>
                                                <li ng-repeat="entry in internalProperties | filter:filter">
                                                    <span class="assetProperty">{{entry.propertyKey}}</span>
                                                    :
                                                    <span class="assetPropertyValue">{{entry.propertyValue}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="containerProperties" style="background: rgb(255,229,229);">
                                    <h6>Read Only Properties</h6>
                                    <div class="subContainerProperties propList">
                                        <div class="propertiesFormatted">
                                            <ul>
                                                <li ng-repeat="entry in readOnlyProperties | filter:filter">
                                                    <span class="assetProperty">{{entry.propertyKey}}</span>
                                                    :
                                                    <span class="assetPropertyValue">{{entry.propertyValue}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div id="typePropertiesView">
                        	<div class="clearfix" ng-repeat="property in typeProperties">
                                <div class="containerProperties" style="background: rgb(255,229,229);">
                                    <h6></h6>
                                    <div class="subContainerProperties propList">
                                        <div class="propertiesFormatted">
                                            <ul>
                                                <li ng-repeat="entry in property">
                                                    <span class="assetProperty">{{entry.attributeKey}}</span>
                                                    :
                                                    <span class="assetPropertyValue">{{entry.attributeValue}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div id="batchableResourcesView">
                        	<div class="clearfix">
                                <div class="containerProperties" style="background: rgb(255,229,229);">
                                    <h6>Batchable resources</h6>
                                    <div class="subContainerProperties propList">
                                        <div class="propertiesFormatted">
                                            <ul>
                                                <li ng-repeat="entry in batchableResources">
                                                    <span class="assetPropertyValue">{{entry}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div><!-- ends common section for list view (collections) and properties -->
                    <div class="col-xs-4 col-sm-3 col-md-9 col-lg-9">
                        <div ng-repeat="entry in assetslarge | filter:filter | orderBy:orderList" class="thumbnail col-md-2">
                           <a ng-click="followOnClick(entry)" ng-href="#" title="{{entry.title}}">
                               <img ng-src="{{entry.realthumbnail}}" width={{entry.thumbnailsize}} height={{entry.thumbnailsize}} class="imgshadow">
                           </a>
                           <code>{{entry.shorttitle}}</code>
                        </div>
                        <div ng-repeat="entry in assetssmall | filter:filter | orderBy:orderList" class="thumbnailsmall col-md-1">
                           <a ng-click="followOnClick(entry)" ng-href="#" title="{{entry.title}}">
                               <img ng-src="{{entry.realthumbnail}}" width={{entry.thumbnailsize}} height={{entry.thumbnailsize}} class="imgshadow">
                           </a>
                           <code>{{entry.shorttitle.substring(0,5)}}</code>
                        </div>
                        <table class="table table-hover table-condensed">
                            <tr ng-repeat="entry in listview | filter:filter | orderBy:orderList">
                             <td>
                                <a ng-click="followOnClick(entry)" ng-href="#" title="{{entry.title}}">
                                <img ng-src="{{entry.realthumbnail}}" width={{entry.thumbnailsize}} height={{entry.thumbnailsize}} class="imgshadow">
                                </a>
                             </td>
                             <td>
                                <a ng-click="followOnClick(entry)" ng-href="#" title="additional information" class="list-group-itemx">  {{entry.title}} </a>
                             </td>
                             <td>{{entry.updated}}</td>
                             <td>{{entry.summary}}</td>
                            </tr>
                        </table>
                    </div>  
                    <div class="col-md-5"><!-- start of preview section -->
                        <div ng-repeat="entry in links">
                            <img ng-src="{{entry.preview}}" height="400" class="preview"><!-- width="400" -->
                        </div>
                        <div class="previewcarousel">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li ng-repeat="story in storyboards" data-target="#carousel-example-generic" data-slide-to="{{story.slide}}" class="{{story.classactive}}"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div ng-repeat="story in storyboards" class="{{story.classname}}">
                                      <img ng-src="{{story.preview}}" alt="loading slides">
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>                           
                            </div>
                        </div><!-- end previewcarousel -->    
                    </div><!-- end of preview -->
                    <div id="carouselLoading"><!-- start of carousel async download feedback animation -->
                        <i class="fa fa-spinner fa-spin fa-2x pull-left"></i>
                        <br>
                        <i class="fa fa-info fa-0x"></i>
                        <p class="fa-0x">Downloading additonal slides... </p>  
                    </div><!-- ends carousel download feedback -->
                    <div id="assetInteracting"><!-- start of asset interaction feedback -->>
                        <i class="fa fa-spinner fa-spin fa-2x pull-left" style="font-size:2em;color:red;position:relative;left:-200px;"></i>
                        <br>
                        <i class="fa fa-info fa-0x" style="font-size:2em;color:red;position:relative;left:-200px;"></i>
                        <p class="fa-0x" style="font-size:2em;color:red;position:relative;left:-200px;">  Deleting... </p>  
                    </div><!-- ends asset interaction feedback -->
                </div><!-- end preview row -->
            </div><!-- ends homeTab -->
            <!-- Upload tab contents -->
            <div id="uploadTab" class="tab-pane">
                <div class="row">
                    <div class="col-md-3">
                        <div class="well well-sm"><i>Please select file to import</i></div>
                        <input type="file" id="fileSelectorImport" name="files[]" />
                        <output id="thumbnailImport"></output>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    <button type="button" ng-click="startImportInProcess()" id="startImportButton" class="btn btn-success disabled" title="Import This Asset">Import</button>
                    <div class="progress progress-striped" id="progressFeedbackUpload">
                        <div class="progress-bar" id="uploadProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 col-md-offset-4">
                    <p class="text-primary">Drag &amp; Drop upload utility for Images</p>
                    </div>
                <div id="dropbox">
                    <br>
                    <p class="text-success text-center" >
                        <!--<i class="glyphicon glyphicon-cloud-download" style="font-size: 1.5em;">-->
                        <i class="fa fa-cloud-upload fa-2x"></i>
                         Drop assets here to automatically upload to repository
                        <br> Assets will be added to the current folder you're in (see breadcrumbs)
                    </p>
                </div>
                </div>
           </div><!-- ends Upload Tab -->
           <!-- Search tab contents -->
            <div id="searchTab" class="tab-pane fade in">
                <!-- Progress indicator -->
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
                        <div class="progress progress-striped active" id="progressFeedbackSearch">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form>
                        <div class="col-md-3">
                          <input id="searchfield" type="text" class="form-control" placeholder="Search">
                        </div>
                        <button ng-click="startSearch()" class="btn btn-default"><i class="glyphicon glyphicon-play-circle"></i> Go</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                        <div ng-repeat="entry in searchresultslarge | filter:filter | orderBy:orderList" class="thumbnail col-md-2">
                            <a ng-click="followOnClick(entry)" ng-href="#" title="{{entry.title}}">
                                <img ng-src="img/document.png" width={{entry.thumbnailsize}} height={{entry.thumbnailsize}} class="imgshadow">
                            </a>
                            <code>{{entry.shorttitle}}</code>
                        </div>
                        <div ng-repeat="entry in searchresultssmall | filter:filter | orderBy:orderList" class="thumbnailsmall col-md-1">
                            <a ng-click="followOnClick(entry)" ng-href="#" title="{{entry.title}}">
                                <img ng-src="img/document.png" width={{entry.thumbnailsize}} height={{entry.thumbnailsize}} class="imgshadow">
                            </a>
                            <code>{{entry.shorttitle.substring(0,5)}}</code>
                        </div>
                        <table class="table table-hover table-condensed">
                            <tr ng-repeat="entry in searchresultslistview | filter:filter | orderBy:orderList">
                                <td>
                                   <a ng-click="followOnClick(entry)" ng-href="#" title="{{entry.title}}">
                                   <img ng-src="img/document.png" width={{entry.thumbnailsize}} height={{entry.thumbnailsize}} class="imgshadow">
                                   </a>
                                </td>
                                <td>
                                   <a ng-click="followOnClick(entry)" ng-href="#" title="additional information" class="list-group-itemx">  {{entry.title}} </a>
                                </td>
                                <td>{{entry.updated}}</td>
                                <td>{{entry.summary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
           </div><!-- ends Search Tab -->
           <div id="checkedOutTab" class="tab-pane fade in">
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
                        <div class="progress" id="checkedOutProgressFeedback">
                            <div class="progress-bar progress-bar-success" id="checkedOutProgressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-hover table-condensed">
                        <tr ng-repeat="entry in checkedoutlistview | filter:filter | orderBy:orderList">
                            <td>
                               <a ng-click="getCheckedOutDetails(entry)" ng-href="#" title="{{entry.title}}">
                                <img ng-src="{{entry.realthumbnail}}" width={{entry.thumbnailsize}} height={{entry.thumbnailsize}} class="imgshadow">
                               </a>
                            </td>
                            <td>
                               <a ng-click="getCheckedOutDetails(entry)" ng-href="#" title="additional information" class="list-group-itemx">  {{entry.title}} </a>
                            </td>
                            <td>{{entry.updated}}</td>
                            <td>{{entry.summary}}</td>
                            <td><i class="fa fa-lock fa-1x"></i></td>
                        </tr>
                    </table>
                </div>
           </div><!-- ends CheckedOut Tab -->
           <div id="checkInTab" class="tab-pane fade in">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-5 col-lg-5">
                        <div class="well well-sm"><i>Please select updated content file</i></div>
                        <input type="file" id="fileSelectorCheckin" name="files[]" />
                        <output id="thumbnailCheckin"></output>
                        <br>
                        <br>
                        <button type="button" ng-click="startCheckInProcess()" id="startCheckInButton" class="btn btn-primary disabled" title="Check In This Asset">Check In</button>
                        <div class="progress progress-striped" id="progressFeedbackCheckin">
                            <div class="progress-bar" id="checkinProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                        <br>
                        <form id="checkin">
                            <fieldset>
                                <legend>Update Properties</legend>
                                <ol>
                                    <li ng-repeat="entry in updatableProperties | filter:filter">
                                        <label for=name >{{entry.propertyKey}}</label>
                                        <input  id='name' name='{{entry.propertyKey}}' type='text' placeholder='{{entry.propertyValue}}' required>
                                    </li>
                                </ol>
                            </fieldset>                          
                        </form>
                     </div><!-- ends common section for list view (collections) and properties -->
                    <div class="col-md-5"><!-- start of preview section -->
                        <div ng-repeat="entry in links">
                            <img ng-src="{{entry.preview}}" width="400" height="400" class="thumbnail">
                        </div>
                    </div><!-- end of preview -->
                </div><!-- end preview row -->
           </div><!-- ends CheckIn Tab -->
        </div><!-- ends Tabs -->
    </div><!-- ends row for Tabs -->
</div><!-- ends container -->

<script type="text/javascript">
    
$(document).ready(function () {
    $('.propertiesFormatted ul li:nth-child(odd)').addClass('striped');
});
    
document.getElementById('fileSelectorCheckin').addEventListener('change', handleFileSelectCheckin, false);
document.getElementById('fileSelectorImport').addEventListener('change', handleFileSelectImport, false);
     
function switchToCheckinTab() {
    hideElement('progressFeedbackCheckin');
    $('#tabs a[href="#checkInTab"]').tab('show');
}
function switchToHomeTab() {
	resetWidgets();
    $('#tabs a[href="#homeTab"]').tab('show');
}


function switchToHomeTab() {
	resetWidgets();
    $('#tabs a[href="#homeTab"]').tab('show');
}

function switchToCheckedOutTab() {
	resetWidgets();
    $('#tabs a[href="#checkedOutTab"]').tab('show');
}

function switchToUploadTab() {
    hideElement('progressFeedbackUpload');
    $('#tabs a[href="#uploadTab"]').tab('show');
}

function switchToSearchTab() {
    hideElement('progressFeedbackSearch');
    $('#tabs a[href="#searchTab"]').tab('show');
}
   
$('#tabs a').click(function(e) {
    var selectedTab = e.target.hash+"";
    if (selectedTab == "#checkInTab") {
        e.preventDefault();
        return false;
    }
    else if (selectedTab == "#homeTab") {
    	resetWidgets();
    }
    return true;
});
      
$('#versionButton').click(function(e) {
   return fetchVersionData();
});
$('#resetButton').click(function(e) {
   return resetNavigation();
});
$('#clearButton').click(function(e) {
   return clearPersistentData();
});

// Processing logic for Sign-in/Sign-out controls
$('#logincontrol').mouseup(function(e) {
    promptForCredentials();
    return false;
});
$('#logoutcontrol').mouseup(function(e) {
    signOut();
    return false;
});
$('#editcontrol').mouseup(function(e) {
    editProfile();
    return false;
});

function showElement(elementName) {
    var state = document.getElementById(elementName).style.display;
    if (state != 'block')
    {
        document.getElementById(elementName).style.display = 'block';
        resetWidgets();
    }
}
function hideElement(elementName) {
    var state = document.getElementById(elementName).style.display;
    if (state != 'none')
    {
        document.getElementById(elementName).style.display = 'none';
        resetWidgets();
    }
}

function disableAllActiveButtons() {
    $(document.getElementById('deleteButton')).addClass("disabled");
        $(document.getElementById('downloadButton')).addClass("disabled");
        $(document.getElementById('lockButton')).addClass("disabled");
        $(document.getElementById('cancelLockButton')).addClass("disabled");
        $(document.getElementById('checkinButton')).addClass("disabled");
}

function resetWidgets(){
	var jsonData = getCurrentObjectJsonRepresentation();
	resetPropertiesView(jsonData);
	resetTypePropertiesView(jsonData);
	resetBatchableResourcesView(jsonData);
	resetActiveButtons(jsonData);
	resetUserProfileControls();
}

function resetTypePropertiesView(jsonData){
	
	if (!jsonData || jsonData === "null") {
        hideElement('typePropertiesView');
        return;
    } 
	var properties = jsonData.properties;
	if(!properties){
		hideElement('typePropertiesView');
        return;
	}
	if(!(properties instanceof Array)){
		hideElement('typePropertiesView');
        return;
	}
	showElement('typePropertiesView');
}

function resetBatchableResourcesView(jsonData){
	
	if (!jsonData || jsonData === "null") {
        hideElement('batchableResourcesView');
        return;
    } 
	var resources = jsonData['batchable-resources'];
	if(!resources){
		hideElement('batchableResourcesView');
        return;
	}
	if(!(resources instanceof Array)){
		hideElement('batchableResourcesView');
        return;
	}
	showElement('batchableResourcesView');
}

function resetPropertiesView(jsonData){
	if (!jsonData || jsonData === "null") {
        hideElement('propertiesView');
        return;
    } 
	var properties = jsonData.properties;
	if(!properties){
		hideElement('propertiesView');
        return;
	}
	if(properties instanceof Array){
		hideElement('propertiesView');
		return;
	}
	
	showElement('propertiesView');
}

function resetActiveButtons(jsonData) {
	
    if (!jsonData || jsonData === "null") {
        disableAllActiveButtons();
    } else if(jsonData.type&&(jsonData.type === "dm_user"
            || jsonData.type === "dm_group"
            || jsonData.type === "dm_format"
            || jsonData.type === "dm_relation"
            || jsonData.type === "dmc_fav_col_relation"
            || jsonData.type === "dm_relation_type"
            || jsonData.type.name)){
    	disableAllActiveButtons();
    } else if(jsonData['batchable-resources']){
    	disableAllActiveButtons();
    } else if(jsonData.properties && jsonData.properties instanceof Array){
    	disableAllActiveButtons();
    } else if(jsonData.type && jsonData.type == 'dm_document'){
        if ($(document.getElementById('deleteButton')).hasClass("disabled"))
            $(document.getElementById('deleteButton')).removeClass("disabled");
            
        if ($(document.getElementById('downloadButton')).hasClass("disabled"))
                $(document.getElementById('downloadButton')).removeClass("disabled");
                
        var cancelCheckOutUri = findContentUrlForRelation(jsonData,constants.linkRelationCancelCheckOut);
        if (!cancelCheckOutUri) {
            if ($(document.getElementById('lockButton')).hasClass("disabled")) 
                $(document.getElementById('lockButton')).removeClass("disabled");
                
            $(document.getElementById('cancelLockButton')).addClass("disabled");
            $(document.getElementById('checkinButton')).addClass("disabled");
        }
        else
        {
            if ($(document.getElementById('cancelLockButton')).hasClass("disabled")) 
                $(document.getElementById('cancelLockButton')).removeClass("disabled");
                
            if ($(document.getElementById('checkinButton')).hasClass("disabled")) 
                $(document.getElementById('checkinButton')).removeClass("disabled");
                
            $(document.getElementById('lockButton')).addClass("disabled");
        }
    } else{
    	disableAllActiveButtons();
    	if ($(document.getElementById('deleteButton')).hasClass("disabled"))
            $(document.getElementById('deleteButton')).removeClass("disabled");
    }
}

function resetUserProfileControls(){
	// Check to enable/disable login/logout actions
    if(!isUserProfileConfigured()) {
        $(document.getElementById('logincontrol')).removeClass("disabled");
        $(document.getElementById('logoutcontrol')).addClass("disabled");
        $(document.getElementById('editcontrol')).addClass("disabled");
    } else {
        $(document.getElementById('logoutcontrol')).removeClass("disabled");
        $(document.getElementById('editcontrol')).removeClass("disabled");
        $(document.getElementById('logincontrol')).addClass("disabled");
    } 
}

function showCarouselLoadingFeedback() {
    document.getElementById("carouselLoading").style.visibility="visible";
}

function hideCarouselLoadingFeedback() {
    document.getElementById("carouselLoading").style.visibility="hidden";
}

function hideCarousel() {
    document.getElementById("carousel-example-generic").style.visibility="hidden";
}

function showCarousel() {
    document.getElementById("carousel-example-generic").style.visibility="visible";
}

function hideAssetInteractingFeedback() {
    document.getElementById("assetInteracting").style.visibility="hidden";
}

function showAssetInteractingFeedback() {
    document.getElementById("assetInteracting").style.visibility="visible";
}

// Global Ajax error handler
$(function () {
    //setup ajax error handling
    $.ajaxSetup({
        error: function (jqXHR, status, error) {
        	hideElement('checkedOutProgressFeedback');
            hideElement('progressFeedback');
            var responseData = jQuery.parseJSON(jqXHR.responseText);
            bootbox.alert("An error occurred, HTTP Request object came back with and Error: <br>\
                            <span style='color:#0000'></span>Error Code: <span style='color:#FF0000'>\
                            "+responseData.status
                            +"</span><br><span style='color:#000000'>Error Message: </span><span style='color:#FF0000'>"
                             + responseData.message+"</span>", 
                             function(result) {}
           );      
        }
    });
});

</script>

</body>
</html>