<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="coreRestApp">
<head>
<title>EMC Core REST Services</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/customsheet.css"/>
<link rel="stylesheet" href="css/fileuploadstyles.css" />
<link rel="stylesheet" href="css/font-awesome.css" />
<link rel="stylesheet" href="css/jquery.fileupload.css" />
    
<script type="text/javascript" src="scripts/jquery-1.9.0.js"></script>
<script type="text/javascript" src="scripts/bootstrap.js"></script>
<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/angular-route.js"></script>
<script type="text/javascript" src="scripts/controller.js"></script>
<script type="text/javascript" src="scripts/view-controllers.js"></script>
<script type="text/javascript" src="scripts/navigation.js"></script>
<script type="text/javascript" src="scripts/response-processor.js"></script>
<script type="text/javascript" src="scripts/popup-dialogs.js"></script>
<script type="text/javascript" src="scripts/view-persistence.js"></script>
<script type="text/javascript" src="scripts/constants.js"></script>
<script type="text/javascript" src="scripts/jquery.filedropx1.js"></script>	
<script type="text/javascript" src="scripts/script.js"></script>
<script type="text/javascript" src="scripts/bootbox.js"></script>
<script type="text/javascript" src="scripts/fileupload.js"></script>

<style>
code {
  color: #1477CE;
}
</style>

</head>
<body ng-controller="mainViewController">
<nav class="navbar navbar-default" role="navigation">
    <a class="pull-left" href="#">
      <img class="media-object" src="img/emclogo.jpg" alt="" width="100">
    </a>        
  <!-- Topmost header containing logo, search and profile elements -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter" ng-model="filter">
      </div>
      <i class="fa fa-filter" style="font-size: 1.4em;"></i>
      <select ng-model="orderList">
        <option value="title">Alphabetical</option>
        <option value="updatedShadowCopy">By Date</option>
        <option value="index">Original</option>
      </select>
      <i class="fa fa-sort-alpha-asc" style="font-size: 1.4em;"></i>
      <div class="btn-group" id="viewselector">
        <button ng-click="redrawView('smallIcons')" type="button" class="btn btn-default" id="small" title="Thumbnail View"><i class="glyphicon glyphicon-th"></i></button>
        <button ng-click="redrawView('largeIcons')" type="button" class="btn btn-default" id="large" title="Large Thumbnail View"><i class="glyphicon glyphicon-th-large"></i></button>
        <button ng-click="redrawView('listView')" type="button" class="btn btn-default" id="list" title="List View"><i class="glyphicon glyphicon-th-list"></i></button>
      </div>
      <button type="button" id="resetButton" class="btn btn-default" title="Restart Navigation At The Repositories Level">
         <i class="glyphicon glyphicon-refresh"></i>
         <span>Reset</span>
      </button>
      <button type="button" id="clearButton" class="btn btn-default" title="Erase all locally stored information, including user/server configuration">
         <i class="glyphicon glyphicon-remove"></i>
         <span>Clear</span>
      </button>
      <button type="button" id="versionButton" class="btn btn-default" title="Server Version Information">
         <i class="glyphicon glyphicon-info-sign"></i>
         <span>About</span>
      </button>
    </form>  
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" title="Profile Configuration">
            <i class="glyphicon glyphicon-user"></i> User Profile<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li id='logincontrol'><a href=""><i class="glyphicon glyphicon-log-in"></i> Log-in</a></li>
          <li id='logoutcontrol'><a href=""><i class="glyphicon glyphicon-log-out"></i> Log-out</a></li>
          <li id='editcontrol'><a href=""><i class="glyphicon glyphicon-edit"></i> Edit Profile</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- ends div navbar -->
</nav>
<!-- Main container from here -->
<div class="container">
    <!-- Breadcrumbs -->
    <div class="row">
        <ol class="breadcrumb">  
            <li ng-repeat="entry in breadcrumbsData"><a href="#" id='breadcrumbnode' ng-click="followBreadCrumb(entry)"><i>{{entry.crumb}}</i></a></li>
        </ol>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
          <div class="progress progress-striped active" id="progressFeedback">
              <div class="progress-bar" id="hidden" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
          </div>
      </div>
    </div>
    <div class="row">
	   	<div ng-view></div>  
	</div>
</div><!-- ends container -->

<script type="text/javascript">
      
$('#versionButton').click(function(e) {
   return fetchVersionData();
});
$('#resetButton').click(function(e) {
   return resetNavigation();
});
$('#clearButton').click(function(e) {
   return clearPersistentData();
});

// Processing logic for Sign-in/Sign-out controls
$('#logincontrol').mouseup(function(e) {
    promptForCredentials();
    return false;
});
$('#logoutcontrol').mouseup(function(e) {
    signOut();
    return false;
});
$('#editcontrol').mouseup(function(e) {
    editProfile();
    return false;
});

// Global Ajax error handler
$(function () {
    //setup ajax error handling
    $.ajaxSetup({
        error: function (jqXHR, status, error) {
            var responseData = jQuery.parseJSON(jqXHR.responseText);
            bootbox.alert("An error occurred, HTTP Request object came back with and Error: <br>\
                            <span style='color:#0000'></span>Error Code: <span style='color:#FF0000'>\
                            "+responseData.status
                            +"</span><br><span style='color:#000000'>Error Message: </span><span style='color:#FF0000'>"
                             + responseData.message+"</span>", 
                             function(result) {}
           );      
        }
    });
});

</script>

</body>
</html>